<div class="card">
    <img src={{img}} alt={{title}} width='100%'>
    <div class="card-title">
        <div class="card-body">
            <a href={{link}}>{{title}}</a>
            <hr>
            <p>{{description}}</p>
            <button id="unsave-button" type="button" class="btn btn-primary" data-id="{{articleId}}">
                Unsave
            </button>
            <button id="note-button" type="button" class="btn btn-primary" data-id="{{articleId}}">
                Add Note
            </button>
        </div>
    </div>
</div>